# Traffic Prediction

This project aims to preict the time of day at which certain junctions are congested based on their historical data from 2015 - 2017

In [2]:
import pandas as pd
import numpy as np

In [58]:
import time
from datetime import datetime

In [3]:
df = pd.read_csv("traffic.csv")
df.head()

              DateTime  Junction  Vehicles           ID
0  2015-11-01 00:00:00         1        15  20151101001
1  2015-11-01 01:00:00         1        13  20151101011
2  2015-11-01 02:00:00         1        10  20151101021
3  2015-11-01 03:00:00         1         7  20151101031
4  2015-11-01 04:00:00         1         9  20151101041

In [40]:
df = df[["ID", "DateTime", "Junction", "Vehicles"]]

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48120 entries, 0 to 48119
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        48120 non-null  int64
 1   DateTime  48120 non-null  datetime64[ns]
 2   Junction  48120 non-null  int32
 3   Vehicles  48120 non-null  int32
dtypes: datetime64[ns](1), int32(2), int64(1)
memory usage: 1.1 MB

In [20]:
df["DateTime"].dtype

dtype('O')

In [21]:
type(df["DateTime"])

pandas.core.series.Series

In [41]:
df["DateTime"] = df["DateTime"].astype("datetime64")

In [42]:
df["DateTime"].dtype

dtype('<M8[ns]')

In [43]:
df[["Junction", "Vehicles"]] = df[["Junction", "Vehicles"]].astype("int32")

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48120 entries, 0 to 48119
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        48120 non-null  int64
 1   DateTime  48120 non-null  datetime64[ns]
 2   Junction  48120 non-null  int32
 3   Vehicles  48120 non-null  int32
dtypes: datetime64[ns](1), int32(2), int64(1)
memory usage: 1.1 MB

In [5]:
df.describe()

           Junction      Vehicles            ID
count  48120.000000  48120.000000  4.812000e+04
mean       2.180549     22.791334  2.016330e+10
std        0.966955     20.750063  5.944854e+06
min        1.000000      1.000000  2.015110e+10
25%        1.000000      9.000000  2.016042e+10
50%        2.000000     15.000000  2.016093e+10
75%        3.000000     29.000000  2.017023e+10
max        4.000000    180.000000  2.017063e+10

In [9]:
df['Junction'].unique()

array([1, 2, 3, 4], dtype=int64)

In [10]:
df.Junction.value_counts()

3    14592
2    14592
1    14592
4     4344
Name: Junction, dtype: int64

In [13]:
df.Vehicles.max()

180

In [46]:
df[df['Vehicles'] == df.Vehicles.max()]

                ID            DateTime  Junction  Vehicles
40723  20170223193 2017-02-23 19:00:00         3       180

In [47]:
df[df['Vehicles'] == df.Vehicles.min()]

                ID            DateTime  Junction  Vehicles
16057  20160101012 2016-01-01 01:00:00         2         1
21254  20160804142 2016-08-04 14:00:00         2         1
21255  20160804152 2016-08-04 15:00:00         2         1
21258  20160804182 2016-08-04 18:00:00         2         1
21269  20160805052 2016-08-05 05:00:00         2         1
...            ...                 ...       ...       ...
47477  20170604054 2017-06-04 05:00:00         4         1
48004  20170626044 2017-06-26 04:00:00         4         1
48028  20170627044 2017-06-27 04:00:00         4         1
48029  20170627054 2017-06-27 05:00:00         4         1
48030  20170627064 2017-06-27 06:00:00         4         1

[148 rows x 4 columns]

In [48]:
df.DateTime.min()

Timestamp('2015-11-01 00:00:00')

In [49]:
df.DateTime.max()

Timestamp('2017-06-30 23:00:00')

In [57]:
df.DateTime.value_counts().sample(10)

2017-04-29 16:00:00    4
2016-10-13 06:00:00    3
2017-02-12 10:00:00    4
2016-01-24 22:00:00    3
2016-08-12 10:00:00    3
2017-06-22 02:00:00    4
2017-04-26 05:00:00    4
2015-12-07 22:00:00    3
2017-05-03 19:00:00    4
2016-08-28 01:00:00    3
Name: DateTime, dtype: int64

In [74]:
datetime.strptime(str(df.DateTime[0]), "%Y-%m-%d %H:%M:%S").time()

datetime.time(0, 0)

In [75]:
datetime.strptime(str(df.DateTime[0]), "%Y-%m-%d %H:%M:%S").year

2015

In [79]:
datetime.strptime(str(df["DateTime"]), "%Y-%m-%d %H:%M:%S").time()

ValueError: time data '0       2015-11-01 00:00:00\n1       2015-11-01 01:00:00\n2       2015-11-01 02:00:00\n3       2015-11-01 03:00:00\n4       2015-11-01 04:00:00\n                ...        \n48115   2017-06-30 19:00:00\n48116   2017-06-30 20:00:00\n48117   2017-06-30 21:00:00\n48118   2017-06-30 22:00:00\n48119   2017-06-30 23:00:00\nName: DateTime, Length: 48120, dtype: datetime64[ns]' does not match format '%Y-%m-%d %H:%M:%S'